<tr id="task_<%= task.id %>" style="width:100%">
  <td><%= link_to task.id, task_path(task) %></td>
  <td><%= read? task %></td>
  <td><%= task.user.try(:email) %></td>
  <td><%= link_to task.name, task_path(task) %></td>
  <td>
    <%= form_for task, remote: true do |f| %>
      <%= f.check_box :done, class: "task_done" %>
    <% end %>
  </td>
  <td><%= link_to task.try(:picture_file_name), task.try(:picture) ? task.picture.url : '' %></td>
  <td><%= task.category.try(:name) %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_task_path(task), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                task_path(task),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger',
                remote: true %>
  </td>
</tr>