<!DOCTYPE html>
<html>
<head>
  <title>ApplicationItl</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
	<h1><%= link_to "Simple Task list", root_url %></h1>
</div>

<ul class="breadcrumb">
  <li><%= link_to "Admins", administrators_path %><span class="divider">/</span></li>
  <li><%= link_to "Managers", managers_path %> <span class="divider">/</span></li>
  <li><%= link_to "Categories", categories_path %> <span class="divider">/</span></li>
  <li style="float:right">
		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path %> |
		  <%= link_to "Login", new_user_session_path %>
		<% end %>
	</li>
</ul>
<%= yield %>

</body>
</html>
